# input files
*.txt
!LICENSE.txt
!requirements.txt
!sample*

# output files
*.tsv
!reference*
!tests/test_data/sample*
!notebooks/peptides_stfi.tsv
!notebooks/peptides_mod.tsv

# Files for packaging
build/
*.egg-info
/dist/

# pycache
__pycache__/

# Tests
.coverage

# Tox
.tox 

# Sphinx temp folder
doc/_*

# Flask application
uploads/

# Jupyter notebook
.ipynb_checkpoints
