# input files
*.txt
!LICENSE.txt
!requirements.txt
!sample*

# output files
*.tsv
!reference*
!tests/test_data/sample*
!demo/peptides_stfi.tsv

# Files for packaging
build/
*.egg-info
/dist/

# pycache
__pycache__/

# Tests
.coverage

# Tox
.tox 

# Flask application
uploads/
