# input files
*.txt
!LICENSE.txt
!requirements.txt
!sample*

# output files
*_stfi.tsv

# Files for packaging
build/
*.egg-info
/dist/

# pycache
__pycache__/

# Tests
.coverage

# Tox
.tox 

# Sphinx temp folder
doc/_*

# Flask application
uploads/

# Jupyter notebook
.ipynb_checkpoints
